<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center ">
  <div class="container-fluid container-xxl d-flex align-items-center">


  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0"><span>kumpares</span></h1>
    <a href="assets/img/venue-gallery/1.mp4">
      <video controls autoplay #videoPlayer class="glightbox play-btn mb-4">
        <source src="assets/img/venue-gallery/1.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </a>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= Speakers Section ======= -->
  <section id="speakers">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Team Malakas</h2>
        <p>Nakakasawa ng tignan</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/speakers/1.png" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Astig</a></h3>
              <p>Water Boy</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img/speakers/2.png" alt="Speaker 2" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Fans</a></h3>
              <p>Chick Boy</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="300">
            <img src="assets/img/speakers/3.png" alt="Speaker 3" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Mr. Nice Guy</a></h3>
              <p>Artistahin</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/speakers/4.png" alt="Speaker 4" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Kilabot</a></h3>
              <p>Play Boy</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Speakers Section -->

  <!-- ======= Venue Section ======= -->
  <section id="venue">

    <div class="container-fluid" data-aos="fade-up">

      <div class="section-header">
        <h2>Gallery</h2>
        <p>Mga Kaganapan</p>
      </div>
    </div>

    <div class="container-fluid venue-gallery-container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/13.jpeg" class="glightbox" data-gall="venue-gallery" height="245px">
                <img src="assets/img/venue-gallery/13.jpeg" alt="" class="img-fluid" style="height:245px">
              </a>
            </div>
          </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/2.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/2.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/3.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/3.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/4.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/4.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/5.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/5.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/6.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/6.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/7.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/7.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/8.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/8.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/9.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/9.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/10.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/10.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/11.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/11.jpeg" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="venue-gallery">
            <a href="assets/img/venue-gallery/12.jpeg" class="glightbox" data-gall="venue-gallery">
              <img src="assets/img/venue-gallery/12.jpeg" alt="" class="img-fluid"  style="height:245px">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Venue Section -->

  <!-- ======= Subscribe Section ======= -->
  <section id="subscribe">
    <div class="container" data-aos="zoom-in">
      <!-- <div class="section-header">
          <h2>Newsletter</h2>
          <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
        </div>

        <form method="POST" action="#">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 d-flex">
              <input type="text" class="form-control" placeholder="Enter your Email">
              <button type="submit" class="ms-2">Subscribe</button>
            </div>
          </div>
        </form> -->

    </div>
  </section><!-- End Subscribe Section -->



</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <img src="assets/img/logo.png" alt="TheEvenet">
          <p>Madami kaming pera</p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Facebook Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Pilipinas
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Kumpares</strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
      -->
      Designed by <a href="#">Hampas-Lupa</a>
    </div>
  </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>